# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Autocomplete Polymer'
      'submenu': [
        {
          'label': 'Update Project Completions Dictionary'
          'command': 'autocomplete-polymer:update'
        }
      ]
    ]
  }
]
